{
  "cluster_name": "{{ cluster_name }}",
  "cluster_enabled": {{ cluster_enabled }},
  "aks_subnet_name": "{{ aks_subnet_name }}",
  "kubernetes_version": "{{ kubernetes_version }}",
  "private_cluster_enabled": {{ private_cluster_enabled }},
  "azure_rbac_enabled": {{ azure_rbac_enabled }},
  "aks_admin_group_object_ids": {{ aks_admin_group_object_ids_json }},
  "read_admin_group_from_app_configuration": {{ read_admin_group_from_app_configuration }},
  "source_app_configuration_name": {{ source_app_configuration_name_json }},
  "source_app_configuration_resource_group_name": {{ source_app_configuration_resource_group_name_json }},
  "system_node_count": {{ system_node_count }},
  "system_node_vm_size": "{{ system_node_vm_size }}",
  "node_resource_group_name": "{{ node_resource_group_name }}"
}
