{
  "workload": "{{ workload }}",
  "environment": "{{ environment }}",
  "location": "{{ location }}",
  "location_short": "{{ location_short }}",
  "instance": "{{ instance }}",
  "subscription_id": "{{ subscription_id }}",
  "resource_group_name": "{{ resource_group_name }}",
  "tfstate_resource_group_name": "{{ tfstate_resource_group_name }}",
  "tfstate_storage_account_name": "{{ tfstate_storage_account_name }}",
  "spoke_state_container_name": "{{ spoke_state_container_name }}",
  "spoke_state_key": "{{ spoke_state_key }}",
  "team": "{{ team }}",
  "project": "{{ project }}",
  "tags": {
    "owner": "platform-team",
    "team": "{{ team }}",
    "cost_center": "it-infra",
    "project": "{{ project }}",
    "environment": "{{ environment }}",
    "env": "{{ environment }}",
    "criticality": "{{ criticality }}",
    "data_class": "internal",
    "managed_by": "terraform",
    "repo": "github.com:tngsolution/azure-landingzone.git"
  }
}
