subscription_id              = "{{ subscription_id }}"
tfstate_resource_group_name  = "{{ tfstate_resource_group_name }}"
tfstate_storage_account_name = "{{ tfstate_storage_account_name }}"

spoke_name                 = "{{ spoke_name }}"
spoke_state_container_name = "{{ spoke_state_container_name }}"
spoke_state_key            = "{{ spoke_state_key }}"

hub_state_container_name = "{{ hub_state_container_name }}"
hub_state_key            = "{{ hub_state_key }}"

allow_gateway_transit   = {{ allow_gateway_transit }}
allow_forwarded_traffic = {{ allow_forwarded_traffic }}
