resource_group_name  = "{{ tfstate_resource_group_name }}"
storage_account_name = "{{ tfstate_storage_account_name }}"
container_name       = "{{ backend_container_name }}"
use_azuread_auth     = true
key                  = "{{ backend_key }}"
subscription_id      = "{{ subscription_id }}"
